html {
  scroll-behavior: smooth;
}

h1, h3 {
  font-family: 'Averia Serif Libre', cursive;
}

h1#siteTitle {
  font-size: 5rem
}

@keyframes example {
  from {background: repeating-linear-gradient(30deg, #F47983, #9198e5, #F47983 20px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
  to {background: repeating-linear-gradient(30deg, #9198e5, #F47983, #9198e5 20px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
}

h1#siteTitle:hover {
  background: repeating-linear-gradient(30deg, #F47983, #9198e5, #F47983 20px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: example;
  animation-duration: .5s;
  animation-iteration-count: 20;
  text-transform: lowercase;
  cursor: none;
}

* {
  font-family: 'Roboto Mono', monospace;
}

.siteLink {
  position: fixed;
  margin: 2rem;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.siteLink a {
  color: white
}

#fixedTopLeft {
  top: 0;
  left: 0;
}

#fixedTopRight {
  top: 0;
  right: 0;
}

#fixedBottomLeft {
  bottom: 0;
  left: 0;
}

#fixedBottomRight {
  bottom: 0;
  right: 0;
}

.bioContainer {
  background-image: linear-gradient(141deg,#ffaf24 0,#ffdd57 71%,#fffa70 100%);
  min-height: 100vh;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}

.imageContent {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.imageContent img {
   width: 100%;
   height: 100%;
   margin: auto;
   object-fit: cover;
}

.textContent {
  overflow-y: scroll;
  height: 100vh;
  width: 50vw;
  padding: 6rem;
}

.contactLink {
  font-size: 2rem
}

.contactLink:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}
