html {
  scroll-behavior: smooth;
}

h1, h3 {
  font-family: 'Averia Serif Libre', cursive;
}

h1#siteTitle {
  font-size: 5rem;
  color: #E3C0D3;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  } 30% {
    -webkit-transform: translateX(-5px);
   transform: translateX(-5px);
  } 50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  } 65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  } 80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  } 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  } 30% {
    -webkit-transform: translateX(-5px);
   transform: translateX(-5px);
  } 50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  } 65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  } 80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  } 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

h1#siteTitle:hover {
  cursor: none;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

* {
  font-family: 'Roboto Mono', monospace;
}

.siteLink {
  position: fixed;
  margin: 2rem;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.siteLink a {
  color: white
}

#fixedTopLeft {
  top: 0;
  left: 0;
}

#fixedTopRight {
  top: 0;
  right: 0;
}

#fixedBottomLeft {
  bottom: 0;
  left: 0;
}

#fixedBottomRight {
  bottom: 0;
  right: 0;
}

#home .hero {
  background-color: #82837F;
}

.bioContainer {
  background-color: #EFC88B;
  min-height: 100vh;
}

#projectOneContainer {
  background-color: #BE8A60;
  min-height: 100vh;
}

#projectTwoContainer {
  background-color: #EDAF97;
  min-height: 100vh;
}

#projectThreeContainer {
  background-color: #DCC9B6;
  min-height: 100vh;
}

#contact .hero {
  background-color: #E3C0D3;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}

.imageContent {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.imageContent img {
   width: 100%;
   height: 100%;
   margin: auto;
   object-fit: cover;
}

.textContent {
  overflow-y: scroll;
  height: 100vh;
  width: 50vw;
  padding: 6rem;
}

.projectLink a {
  color: white
}

.projectLink:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

.contactLink a {
  font-size: 2rem;
  color: white;
}

.contactLink:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
}

@media only screen and (max-width: 600px) {
  html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .siteLink {
    padding: 1rem;
    margin: 1rem;
  }

  h1#siteTitle {
    font-size: 3rem;
  }

  h3.subtitle.is-3 {
    font-size: 1.50rem;
  }

  .flexContainer {
    flex-direction: column;
  }

  .flexContainer.mobile-reverse {
    flex-direction: column-reverse;
  }

  .imageContent {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
  }

  .textContent {
    overflow-y: visible;
    height: auto;
    width: 100vw;
    padding: 2rem;
  }

  .contactLink {
    padding: 1rem 0;
  }

  .contactLink a {
    font-size: 1.25rem;
  }
}
